nav {
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
}

/*only show n medium and small screen*/
.nav__toggle-btn {
    display: none;
}


.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    display: inline-block;
    width: 7.5rem;
}

.nav__links {
    display: flex;
    gap: 3.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: -1.3rem;
}

.nav__links a {
    transition: var(--transition);
}

.nav__links a:hover {
    color: var(--color-secondary);
}

.active-nav {
    position: relative;
    color: var(--color-secondary);
}



/*MEDIA QUERIES (medium and small)*/

@media screen and (max-width: 1024px) {
    .nav__toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
        margin-left: 95%;
        margin-top: -1.5rem;
    }

    .nav__toggle-btn svg {
        color: var(--color-gray-100);
    }

    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        margin-right: 1rem;
        margin-top: .01rem;
        perspective: 400px;
    }

    .active-nav ,.active-nav::after{
        display: none;
    }

    .nav__links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__links li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav__links li:nth-child(3) {
        animation-delay: 400ms;
    }
    .nav__links li:nth-child(4) {
        animation-delay: 600ms;
    }
    .nav__links li:nth-child(5) {
        animation-delay: 800ms;
    }
    .nav__links li:nth-child(6) {
        animation-delay: 1s;
    }
    .nav__links li:nth-child(7) {
        animation-delay: 1.2s;
    }

    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }

    .nav__links li a {
        background-color: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }

    .show__nav {
        display: flex;
    }

    .hide__nav{
        display: none;
    }
}